



<section id="sp-bottom-1">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6" id="sp-bottom1">
                <div class="sp-column ">
                    <div class="sp-module ">
                        <h3 class="sp-module-title"><span>Hakkımda</span></h3>
                        <div class="sp-module-content">
                            <div class="custom">
                                <div class="footer-static-content">
                                    <p style="font-family:Georgia,sans-serif; font-size:medium">18 Ağustos 1989 yılında İzmir'de doğdum. 2009 yılında Güzelbahçe İMKB Mesleki ve Teknik Anadolu Lisesinden Bilgisayar Teknisyeni olarak mezun oldum. Ardından 2012 Yılında Düzce Üniversitesi Bilgisayar Teknolojileri ve Programlama Bölümünden mezun oldum. 2018 Yılında Anadolu Üniversitesi İşletme Bölümünü bitirip Lisans Eğitimimi tamamladım.</p>
                                    <div class="f-icon">
                                        <h3>TAKİP EDİN</h3>
                                        <ul>
                                            <li class="first">
                                                <a href="https://www.facebook.com/fcelik35" target="_blank"><i class="fa fa-facebook"></i></a>
                                            </li>
                                            <li>
                                                <a href="https://github.com/Firat-Celik/Fcelik" target="_blank"><i class="fa fa-github"></i></a>
                                            </li>
                                            <li>
                                                <a href="https://www.linkedin.com/in/f%C4%B1rat-%C3%A7elik-329829189/" target="_blank"><i class="fa fa-linkedin"></i></a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
    </div>
</section>

<footer id="sp-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <p>Copyright &copy; 2020 &nbsp;|&nbsp; Fırat ÇELİK Tüm Hakları Saklıdır.</p>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="payment-logo">
                    <img src="~/Content/Template/img/payment.png" alt="" />
                </div>
            </div>
        </div>
    </div>
</footer>






