








<div class="left-side-slider">
    <!-- HOME SLIDER -->
    <div class="slider-wrap">
        <div class="fullwidthbanner-container">
            <div class="side-slider">
                <ul>
                    <li data-transition="random" data-slotamount="7" data-masterspeed="1000">
                        <img src="~/Content/Template/img/slider/h2/2.png" alt="slide">
                    </li>
                    <li data-transition="random" data-slotamount="7" data-masterspeed="1000">
                        <img src="~/Content/Template/img/slider/h2/3.jpg" alt="slide">
                    </li>
                    <li data-transition="random" data-slotamount="7" data-masterspeed="1000">
                        <img src="~/Content/Template/img/slider/h2/4.jpg" alt="slide">
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END HOME SLIDER -->
</div>