




<div class="nk-search-area"style="align-content:center">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7 " >
                <div class="nk-search">
                    <div class="wrapper">
                       
                    </div>
                    <div class="search_input">
                        <input type="text" placeholder="Ne Aramıştınız?" />
                        <div class="search-button-wrapper">
                            <button class="search-button" type="submit"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-10 col-sm-4 col-md-3 col-lg-3">
                <div class="h2-top-cart">                    
                    </div>
                </div>
            </div><br />
        </div>
    </div>

