<!-- HOME SLIDER -->
<div class="slider-wrap">
    <div class="fullwidthbanner-container">
        <div class="home-2s">
            <ul>
                <li data-transition="random" data-slotamount="7" data-masterspeed="1000">
                    <img src="~/Content/Template/img/slider/h2/1.jpg" alt="slide">
                    <div class="tp-caption large_black sfr carousel-caption-inner" data-x="510" data-y="173" data-speed="1100" data-start="1100" data-easing="easeInOutBack"
                         style="color:#fff; font-size:18px; letter-spacing: 1px; text-transform: uppercase;">
                        En Tarz Ürünler
                    </div>
                    <div class="tp-caption large_black sfr carousel-caption-inner" data-x="437" data-y="191" data-speed="1100" data-start="1400" data-easing="easeInOutBack"
                         style="  font-size: 60px; font-style:italic; font-weight: normal; text-transform: uppercase;color: #fff;font-weight: bold;">
                        Senin İçin
                    </div>
                    <div class="tp-caption lfb carousel-caption-inner" data-x="510" data-y="280" data-speed="1300" data-start="1700" data-easing="easeInOutBack"
                         style="">
                        <a href="#" class="s-btn" style="background: transparent; color: #fff; border: 1px solid #fff; font-weight:700; font-size: 12px; display: inline-block; padding:10px 18px; text-transform: uppercase;">Hemen Al!</a>
                    </div>
                </li>
                <li data-transition="random" data-slotamount="7" data-masterspeed="1000">
                    <img src="~/Content/Template/img/slider/h4/2.jpg" alt="slide">
                    <div class="tp-caption large_black sfr carousel-caption-inner" data-x="510" data-y="173" data-speed="1100" data-start="1100" data-easing="easeInOutBack"
                         style="color:#fff; font-size:18px; letter-spacing: 1px; text-transform: uppercase;">
                        En Tarz Ürünler
                    </div>
                    <div class="tp-caption large_black sfr carousel-caption-inner" data-x="437" data-y="191" data-speed="1100" data-start="1400" data-easing="easeInOutBack"
                         style="  font-size: 60px; font-style:italic; font-weight: normal; text-transform: uppercase;color: #fff;font-weight: bold;">
                        Senin İçin
                    </div>
                    <div class="tp-caption lfb carousel-caption-inner" data-x="510" data-y="280" data-speed="1300" data-start="1700" data-easing="easeInOutBack"
                         style="">
                        <a href="#" class="s-btn" style="background: transparent; color: #fff; border: 1px solid #fff; font-weight:700; font-size: 12px; display: inline-block; padding:10px 18px; text-transform: uppercase;">Hemen Al!</a>
                    </div>
                </li>
                <li data-transition="random" data-slotamount="7" data-masterspeed="1000">
                    <img src="~/Content/Template/img/slider/h2/2.jpg" alt="slide">
                    <div class="tp-caption large_black sfr carousel-caption-inner" data-x="510" data-y="173" data-speed="1100" data-start="1100" data-easing="easeInOutBack"
                         style="color:#fff; font-size:18px; letter-spacing: 1px; text-transform: uppercase;">
                        En Tarz Ürünler
                    </div>
                    <div class="tp-caption large_black sfr carousel-caption-inner" data-x="437" data-y="191" data-speed="1100" data-start="1400" data-easing="easeInOutBack"
                         style="  font-size: 60px; font-style:italic; font-weight: normal; text-transform: uppercase;color: #fff;font-weight: bold;">
                        Senin İçin
                    </div>
                    <div class="tp-caption lfb carousel-caption-inner" data-x="510" data-y="280" data-speed="1300" data-start="1700" data-easing="easeInOutBack"
                         style="">
                        <a href="#" class="s-btn" style="background: transparent; color: #fff; border: 1px solid #fff; font-weight:700; font-size: 12px; display: inline-block; padding:10px 18px; text-transform: uppercase;">Hemen Al!</a>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</div>
<!-- END HOME SLIDER -->
